<footer >
    <div class="ft-social">
&nbsp;&nbsp;<i class="fa-brands fa-square-facebook"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;&nbsp;
    </div>
    <div class="ft-trademark">&#169;2025 &nbsp; <b>Wanderlust,Inc </b></div>
    <div class="ft-terms">
     <a href="">Terms</a> &nbsp;
     <a href="">Privacy</a>
    </div>
</footer>