<style>

  .search-btn {
    background-color: rgb(251, 55, 55);
    color: white;
    border-radius: 2.75rem;
    border: 1px rgb(167, 166, 166) solid;
    pointer-events: none;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
  }


  .fa-magnifying-glass{
    margin-right: 0.5rem;
    font-size: 500;
    opacity: 0.9;
  }

  .search-inp {
    border-radius: 2rem;
    width: 30vw;
  }

</style>

<nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-3">
          <a class="nav-link" href="/listing">Explore listings</a>
       </div>
       <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search" aria-label="Search">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
       </div>
          <div class=" navbar-nav ms-auto">
            <a class="nav-link me-auto" href="/listing/new">Airbnb your home</a>
            <% if(!currUser){ %>
            <a class="nav-link" href="/signup"><b>Signup</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
            <% } %>

            <% if(currUser){ %>
            <a class="nav-link" href="/logout"><b>Logout</b></a>
            <% } %>
          </div>
      </div>
    </div>
  </nav>