
<% layout('layouts/boilerplate') -%>
<body>
    <br>
    <h4  class=" offset-2">Creating a New Listing:</h4>
    <form action="/listing" method="post" id="add-form" >

    <div class="mb-3 col-8 offset-2">
        <label for="title" class="form-label">Title</label>
        <input type="text" placeholder="enter title" name="title" class="form-control">
    </div>
    <div class="mb-3 col-8 offset-2">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="" class="form-control" ></textarea>
    </div>

    <div class="mb-3 col-8 offset-2">
        <label for="image" class="form-label">Image's URL</label>
        <input type="text" placeholder="enter image's link/url" name="image.url" class="form-control">
    </div>

    <div class="row">
        <div class="mb-3 col-2 offset-2">
            <label for="price" class="form-label">Price</label>
            <input type="text" name="price" placeholder="enter price" class="form-control">
        </div>
        <div class="mb-3 col-6">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="country" placeholder="enter country" class="form-control" >
        </div>
    </div>
    <div class="mb-3 col-8 offset-2" >
        <label for="location" class="form-label">Location</label>
        <input type="text" name="location" placeholder="enter location" class="form-control">
    </div>

       <button class="btn btn-danger mb-4 col-4 offset-4">Add</button>
    </form>
</body>