<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Listing</title>
</head>
<body>
    <h2>Add Listing:</h2>
    <form action="/listing" method="post">
       <input type="text" placeholder="title" name="title"><br><br>
       <textarea name="description" id="" cols="30" rows="6" placeholder="write discription..."></textarea><br><br>
       <input type="text" name="price" placeholder="price"><br><br>
       <input type="text" name="location" placeholder="location"><br><br>
       <input type="text" name="country" placeholder="country"><br><br>
       <button>ADD!</button>
    </form>
</body>
</html>